body {
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* navigation start */
nav {
  margin: auto;
  max-width: 1126px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-box {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 185px;
  height: 32px;
  margin-top: 22px;
  margin-bottom: 24px;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.product,
.customers,
.pricing,
.resources {
  text-decoration: none;
  text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.3);
  color: #2f281e;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
}

.resources {
  margin-right: 40px;
}

a:hover {
  color: #00c3ff;
}

button:hover {
  cursor: pointer;
  background-color: #173a56;
}

.btn-sign-in {
  width: 102px;
  height: 46px;
  color: #00c3ff;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  border: 1px solid #bcd0e5;
  border-radius: 5px;
}

.btn-sign-up {
  width: 110px;
  height: 46px;
  color: #fff;
  background-color: #ff9900;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* navigation end */

/* header start */

header {
  margin: auto;
  max-width: 1126px;
  width: 100%;
  min-height: 496px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  max-width: 518px;
  width: 100%;
  min-height: 323px;
}

.right-side {
  max-width: 605px;
  width: 100%;
  min-height: 496px;
}

h1 {
  color: #2f281e;
  font-weight: 700px;
  font-size: 44px;
  font-style: normal;
  line-height: 54px;
  letter-spacing: 0px;
}

.left-side-content {
  color: #544837;
  font-weight: 400px;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0px;
  margin-top: 30px;
}

.play-box {
  display: flex;
  align-items: center;
}

.btn-get-started {
  margin-top: 53px;
  width: 175px;
  height: 39px;
  background-color: #ff9900;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0px;
  padding: 0px;
  border-radius: 5px;
  border: none;
}

.fa-play {
  display: flex;
  justify-content: center;
  color: #ff9900;
  width: 14px;
  height: 17px;
  margin-top: 45px;
  margin-left: 20px;
}

.watch-video {
  display: flex;
  justify-content: center;
  color: #ff9900;
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  width: 135px;
  height: 24px;
  margin-top: 50px;
}

.header-img {
  width: 100%;
  height: 100%;
}
/* header end */

/* feature start */
.section-feature {
  max-width: 1126px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
  max-width: 539px;
  width: 100%;
  min-height: 108px;
  margin-top: 110px;
  text-align: center;
}

.div-feature {
  margin-left: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 204px;
  margin-top: 46px;
}

.card-one,
.card-two,
.card-three,
.card-four {
  width: 240px;
  height: 178px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.click-icon {
  width: 51px;
  height: 50px;
  margin-right: 30px;
}

.click-icon:hover {
  cursor: pointer;
}

.card-one-title,
.card-two-title,
.card-three-title,
.card-four-title {
  display: flex;
  color: #2f281e;
  font-size: 22px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
}

.card-one-text,
.card-two-text,
.card-three-text,
.card-four-text {
  display: flex;
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
}

.design-icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}

.design-icon:hover {
  cursor: pointer;
}

.heart-icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}

.heart-icon:hover {
  cursor: pointer;
}

.time-icon {
  display: flex;
  width: 50px;
  height: 50px;
}

.time-icon:hover {
  cursor: pointer;
}

.btn-now {
  color: #ffffff;
  background-color: #ff9900;
  font-size: 16px;
  font-weight: 700;
  width: 175px;
  height: 53px;
  margin: auto;
  margin-top: 34px;
  border-radius: 5px;
  border: none;
}
/* feature end */

/* main start */
.main-section-one {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 574px;
  margin-top: 100px;
}

.main-div-text {
  max-width: 486px;
  width: 100%;
}

.main-div-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-text-one {
  display: flex;
  max-width: 486px;
  width: 100%;
  min-height: 531px;
}

.main-intro-paragraph {
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  letter-spacing: 0px;
  text-align: left;
}

.main-title {
  color: #2f281e;
  font-size: 36px;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0px;
}

.main-paragraphs {
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
}

.sub-title {
  color: #2f281e;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
}

.main-img-one {
  max-width: 520px;
  width: 100%;
  min-height: 574px;
  margin-left: 104px;
}

.main-section-two {
  display: flex;
  max-width: 1121px;
  width: 100%;
  min-height: 521px;
  margin-top: 101px;
  margin-left: 144px;
}

.main-img-two {
  max-width: 535px;
  width: 100%;
  min-height: 521px;
  margin-right: 100px;
}

.main-text-two {
  display: flex;
  max-width: 486px;
  width: 100%;
  min-height: 427px;
  margin-left: 100px;
  margin-bottom: 45px;
}

.main-section-three {
  display: flex;
  justify-content: center;
  max-width: 1110px;
  width: 100%;
  min-height: 609px;
  margin-top: 104px;
  margin-left: 147px;
}

.main-img-three {
  display: flex;
  max-width: 542px;
  width: 100%;
  min-height: 609px;
  margin-left: 82px;
}

.main-section-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* main end */

/* footer start   */

footer {
  max-width: 1109px;
  width: 100%;
  min-height: 308px;
  margin: 0 auto;
  border: none;
  border-top: 1px solid #c1d6ec;
  margin-top: 100px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-end {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
}

.footer-ul {
  display: flex;
  justify-content: end;
  flex-direction: column;
  list-style-type: none;
  margin-top: 100px;
}

.footer-li {
  color: #544837;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-decoration: none;
  padding: 0;
  margin-top: 100px;
}

.email {
  border: 1px solid #bcd0e5;
  border-left: none;
  border-radius: 1px;
  height: 100%;
  max-width: 355px;
  width: 100%;
  min-height: 48px;
  margin-top: 80px;
  margin-right: 20px;
}

.btn-end {
  max-width: 131px;
  min-height: 39px;
  background-color: #ff9900;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0px;
  margin-top: 28px;
  border: none;
  border-radius: 4px;
}
/* footer end   */
